/* body {
  background-image: url("http://journeyofgrace.us/wp-content/uploads/2016/05/boss-fight-free-high-quality-stock-images-photos-photography-stars-sky.jpg");
  background-position: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  box-sizing: border-box;
  width:100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0,0,0,.5);
  padding: 20px 68px;
  color: #F1EF26;
  position: fixed;
  top: 0px;


}

section {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 135px;

  

}

section p {
  max-width: 48%;
  color:white;
  text-align: left;
}




section iframe {
  width: 48%;
  height: 100%;
  min-width: 560px;
  min-height: 315px;
  margin: auto;

}

section img {
  width: 48%;
  height: 100%;
  min-width: 560px;
  min-height: 315px;
  margin: auto;

}

@media only screen and (max-width: 1212px) {
  section p {
    max-width: 90%;
    margin: auto;
    margin-bottom: 20px;
    color:white;
    text-align: left;

  }

  section iframe {
    width: 90%;
    height: 100%;
    min-width: 300px;
    margin: auto;
    padding-bottom: 40px;
  
  }

  header {
    flex-direction: column;
    padding: 0px 0px;
  }
} */

body {
  background: black;
}